atomicwrites==1.4.1
attrs==22.2.0
black==22.12.0
Brotli==1.0.9
certifi==2022.12.7
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
dash==2.7.1
dash-bootstrap-components==0.12.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-renderer==1.9.0
dash-table==5.0.0
dash-tools==1.10.7
distlib==0.3.6
docopt==0.6.2
filelock==3.9.0
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
gunicorn==20.0.4
identify==2.5.12
idna==3.4
importlib-metadata==6.0.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mypy-extensions==0.4.3
nodeenv==1.7.0
packaging==21.0
pathspec==0.10.3
pipreqs==0.4.11
platformdirs==2.6.2
plotly==5.11.0
pluggy==1.0.0
pre-commit==2.16.0
py==1.11.0
pyparsing==3.0.9
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0
requests==2.28.1
retrying==1.3.3
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.15.0
tenacity==8.1.0
termcolor==1.1.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.4
typing-extensions==4.4.0
urllib3==1.26.13
virtualenv==20.17.1
visdcc==0.0.50
Werkzeug==1.0.1
yarg==0.1.9
yolk3k==0.9
zipp==3.11.0
